.profilePhoto{
    width: 200px;
    height: 250px;
    border: 1px solid sandybrown;
    margin:20px 40px 0 0 ;
}

.ProfileName{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 20px;
    margin: 50px auto;
}
.info{
    text-align: left;

}
.Name{
    font-family: sans-serif ,'Arial';
    letter-spacing: 11px;
    margin-bottom: 50px;
}
.Mess{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    width: 200px;
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
    background: lightskyblue;
    font-size: 16px;
    color: cornsilk;
    height: 30px;
    font-weight: bolder;
    margin-top: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
