
.Form{
    margin: 50px auto;
    background: cornflowerblue;
}
.FormBox{
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.RegTitle{
    letter-spacing: 4px;
    color: darkturquoise;
    font-size: 16px;
    text-transform: uppercase;
}

.Register{
    width: 150px;
    text-align: center;
    height: 29px;
    margin-right: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    border-color: lightskyblue;
}
.SignIn{
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
    width: 120px;
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
    background: lightskyblue;
    font-size: 16px;
    color: cornsilk;
    height: 30px;
    font-weight: bolder;
    margin: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}